body {
	
	background-image: url("../img/signupbg.jpg");
	background-color: white;
	
}



p.mix {border-style: dotted dashed solid double;}

#submit_btn {
	display: block;
	text-align:center;
	text-decoration: none; 
	color: black; 
	background-color: orange; 
	width:100px; 
	height:35px;
	border-right: 1px solid blue; 
	border-bottom: 1px solid blue;"
}



h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 40px;
}
