nav select {
	display: none;
}

body {background-color: #FFFFFF;
}

/*img {
    padding: 25px 25px 25px 25px;
}*/

img {padding-right:30px;}
p { 
    word-spacing: 2px;
}

@media (max-width: 960px) {
	nav ul		{display: none;}
	nav select	{display: inline-block; }
	#sidebar {display: none;}
}

.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

