nav select {
	display: none;
}

body {background-color: #FE5000;
}

/*img {
    padding: 25px 25px 25px 25px;
}*/

img {padding-right:30px;}
p { 
    word-spacing: 2px;
}

@media (max-width: 960px) {
	nav ul		{display: none;}
	nav select	{display: inline-block; }
	#sidebar {display: none;}
}

.jumbotron {
    background-image: url(../img/Club.jpg);}